@{
    ViewData["Title"] = "Registrar mascota";
}
<header>
    <section id="contenedorv">
        <nav>
            <ul id="lugar">
                <li class="nav-item">
                    <a class="botonv" asp-area="" asp-controller="Home" asp-action="RegistroMascota">Registrar mascota</a>
                </li>
                <li class="nav-item">
                    <a class="botonv" asp-area="" asp-controller="Home" asp-action="GestorProd">Gestionar productos</a>
                </li>
                <li class="nav-item">
                    <a class="botonv" asp-area="" asp-controller="Home" asp-action="Index">Buscar mascota</a>
                </li>
                <li class="nav-item">
                    <a class="botonv" asp-area="" asp-controller="Home" asp-action="login">Historial clinico</a>
                </li>
                <li class="nav-item">
                    <a class="botonv" asp-area="" asp-controller="Home" asp-action="finalizarSec">Salir</a>
                </li>
            </ul>
        </nav>
    </section>
</header>
<body class="bodyv">
    <section class="containerf">

<section id="Registro">

    <h5>Registrar mascota</h5>
    <form>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <label>Nombre de la mascota &nbsp;<input type="text" /></label><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <label>Nombre del dueño &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" /></label><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <label>
                    Correo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" />
                </label><br />
        <label>Numero de identificacion del dueño<input type="text"/></label><br />

                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                <botton id="btnr">Ingresar</botton>
    </form>
    
</section>
    </section>
</body>