@{
    ViewData["Title"] = "Registrar producto";
}
<header>
    <section id="contenedorv">
        <nav>
            <ul id="lugar">
                <li class="nav-item">
                    <a class="botonv" asp-area="" asp-controller="Home" asp-action="RegistroMascota">Registrar mascota</a>
                </li>
                <li class="nav-item">
                    <a class="botonv" asp-area="" asp-controller="Home" asp-action="GestorProd">Gestionar productos</a>
                </li>
                <li class="nav-item">
                    <a class="botonv" asp-area="" asp-controller="Home" asp-action="Index">Buscar mascota</a>
                </li>
                <li class="nav-item">
                    <a class="botonv" asp-area="" asp-controller="Home" asp-action="login">Historial clinico</a>
                </li>
                <li class="nav-item">
                    <a class="botonv" asp-area="" asp-controller="Home" asp-action="finalizarSec">Salir</a>
                </li>
            </ul>
        </nav>
    </section>
</header>
<body class="bodyv">
    <section class="containerf">

        <section id="Registrop">
            <a class="botonc" asp-area="" asp-controller="Home" asp-action="RegistroProd">Nuevo producto</a>
            <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Registrar producto</h5><br />
            <form>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <label>Nombre del producto &nbsp;&nbsp;&nbsp;<input type="text" /></label><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <label>Marca del producto &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" /></label><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                <label>Precio del producto &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" /></label><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <label>Descripcion del producto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" /></label><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Existencias &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" /></label><br />
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <botton id="btnr">Guardar</botton>
            </form>

        </section>
    </section>
</body>
