@{
    ViewData["Title"] = "Sesion finalizada";
}
<header>
    <section id="encabezado">
        <h2 id="textoB">Bienvenidos a veterinaria</h2>
    </section>

    <section id="contenedorv">
        <nav>
            <ul id="lugar">
                <li class="nav-item">
                    <a class="botonv" asp-area="" asp-controller="Home" asp-action="Index">Regresar al inicio</a>
                </li>
            </ul>
        </nav>
    </section>
</header>
<body class="bodyv">
    <section class="containerv">

        <div id="Principal">
            <h2>Sesion Finalizada</h2>
        </div>
    </section>
</body>
