@{
    ViewData["Title"] = "IndexV";
}
<header>
    <section id="encabezado">
        <h2 id="textoB">Bienvenidos a veterinaria</h2>
    </section>

    <section id="contenedorv">
        <nav>
            <ul id="lugar">
                <li class="nav-item">
                    <a class="botonv" asp-area="" asp-controller="Home" asp-action="RegistroMascota">Registrar mascota</a>
                </li>
                <li class="nav-item">
                    <a class="botonv" asp-area="" asp-controller="Home" asp-action="Privacy">Gestionar productos</a>
                </li>
                <li class="nav-item">
                    <a class="botonv" asp-area="" asp-controller="Home" asp-action="Index">Buscar productos</a>
                </li>
                <li class="nav-item">
                    <a class="botonv" asp-area="" asp-controller="Home" asp-action="login">Historial clinico</a>
                </li>
                <li class="nav-item">
                    <a class="botonv" asp-area="" asp-controller="Home" asp-action="finalizarSec">Salir</a>
                </li>
            </ul>
        </nav>
    </section>
</header>
<body class="bodyv">
    <section class="containerf">

        <div id="Principal">
            <h2>Aqui puede gestionar el sitio de la veterinaria</h2>
        </div>
    </section>
</body>