@{
    ViewData["Title"] = "Iniciar sesion";
}
<section id="Login">
    <h5>login</h5>
    <form>
        <label>&nbsp;&nbsp;&nbsp;Usuario &nbsp;&nbsp; <input type="text" /></label><br />
        <label>Contraseña &nbsp;<input type="password"/></label><br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <botton id="btn">Ingresar</botton>
    </form
    <a> HOLA MUNDO</a>
</section>