################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.GeneratedMSBuildEditorConfig.editorconfig
/Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.assets.cache
*.vsidx
/Veterinaria_Proyecto/Controllers/DashboardController.cs
