/.vs
.vs/Veterinaria_Proyecto/FileContentIndex/1335d77d-9699-46f0-a4a6-5b300bb24760.vsidx
.vs/Veterinaria_Proyecto/v17/.futdcache.v2
.vs/Veterinaria_Proyecto/v17/.suo
*.v2
*.dll
*.pdb
*.json
*.cs
*.cache
*.dll
*.pdb
.vs/Veterinaria_Proyecto/v17/.suo
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.dll
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.pdb
Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto.dll
Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto.pdb
Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto.Views.pdb
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.pdb
Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.Views.pdb
*.v2
.vs/Veterinaria_Proyecto/v17/.suo

.fake
/Veterinaria_Proyecto/obj/Veterinaria_Proyecto.csproj.nuget.g.props
/Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/staticwebassets/msbuild.Veterinaria_Proyecto.Microsoft.AspNetCore.StaticWebAssets.props
/Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/staticwebassets/Veterinaria_Proyecto.StaticWebAssets.Pack.cache
/Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.assets.cache
/Veterinaria_Proyecto/obj/Veterinaria_Proyecto.csproj.nuget.dgspec.json
/Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/project.razor.vs.json
/Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.csproj.FileListAbsolute.txt
/Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.dll
/Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.GeneratedMSBuildEditorConfig.editorconfig
/Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.genruntimeconfig.cache
/Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.pdb
/Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.Views.pdb
/Veterinaria_Proyecto/obj/Debug/netcoreapp3.1/Veterinaria_Proyecto.Views.dll
/Veterinaria_Proyecto/obj/project.nuget.cache
/Veterinaria_Proyecto/obj/project.assets.json
/Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto.Views.dll
/Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto.dll
/Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto.pdb
/Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto.runtimeconfig.dev.json
/Veterinaria_Proyecto/bin/Debug/netcoreapp3.1/Veterinaria_Proyecto.Views.pdb
/.vs/Veterinaria_Proyecto/v17/.suo
/.vs/Veterinaria_Proyecto/config/applicationhost.config
