
#foot {
    position: absolute;
    bottom:0;
    background: black;
    width:100%;
}

.texto {
    position: relative;
    top: 30px;
    text-align: center;
    color: white;
    height: 150px;
    font-style: italic;
    background-position: center center;
    background-size: cover;
}


#textoB {
    position: relative;
    top: 30px;
    text-align: center;
    color: white;
    height: 100px;
    font-size: x-large;
    font-style: italic;
    background-position: center center;
}
#Principal {
    color: white;
    font-style: italic;
    font-size: x-large;
    font-style: italic;
}
#Login {
    position: relative;
    left: 200px;
    top: -450px;
    color: white;
    font-style: italic;
    height: 80px;
    font-weight: 900;
}
#btn:hover{
    background:red;
    color:white
}

    #btnr:hover {
        background: red;
        color: white
    }


    .btnpr:hover {
        background: red;
        color: white
    }
#img1{
    position:relative;
    top:240px;
    right:500px;
}
#img2 {
    position: relative;
    top: 20px;
    left:300px;
}
#im1 {
    position: relative;
    bottom: 150px;
    left: 350px;
    height: 200px;
    width: 200px;
}
#im2 {
    position:relative;
    bottom:150px;
    left:350px;
    height: 200px;
    width: 200px;
}
#cant1{
    position:relative;
    top:150px;
    right:300px;
    height:1px;
    width:600px;
}
#cant2 {
    position: relative;
    bottom:45px;
    left: 500px;
    height: 1px;
    width: 600px;
}


.navbar{

    background: linear-gradient(269deg, #b0f066, #9753e4, #eaaf6a);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 18s ease infinite;
    -moz-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

#navbarTitle {
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 25pt ;
    font-weight: bold;
}

.material-symbols-outlined {
    font-size: 30pt; /* Change the value to the desired size */
  }

  #navicon{
    width: 50px;
  }

  .navText{
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 20pt ;
  }

#texxto{
    color: white;
  }